R.S. Salaria, Khanna , “Programming for Problem Solving”, Book Publishing Co., Delhi.

In [ ]:
# A list is an ordered sequence of items enclosed in square brackets '[]'
#List is one of the most used data types in Python
#The items in a list can be of different data types
#Theya re defined as list class in Python

In [ ]:
#Learning Objectives
#Define a List
#Explain key characteristics of Lists
#Create Lists in different ways
#Demonstrate the usage of various methods of list class
#Explain and use various functions that can operate on a list
#Write programs to manipulate lists

In [ ]:
#Important Characteristics of lists
#Lists are ordered
#Can contain any arbitrary objects
#List elements can be accessed by index
#Lists can be nested to arbitrary depth
#Lists are mutable
#Lists are dynamic

In [ ]:
#Creating a list
#An empty list
#List created using set of elements
#List from another sequence such as a string, tuple

In [ ]:
#Creating an Empty list
a=[]
print(a)
print(type(a))

[]
<class 'list'>

In [ ]:
#Creating list with given elements
#To create a list with given elements, just enclose the comma separated list of items in square brackets
b=[1,2,3,4,5,6]
print(b)

c=[1,'one',2,'two',3,'three']
print(c)

[1, 2, 3, 4, 5, 6]
[1, 'one', 2, 'two', 3, 'three']

In [ ]:
#Creating list from another sequence
#To create a list from another sequence, we use list() function, which is constructor of list class, with sequence as its argument

a=list("Python")
print(a)

b=[1,2,3,4,5,6]
c=list(b)
print(id(b))
print(id(c))
print(c)

['P', 'y', 't', 'h', 'o', 'n']
139851351919744
139851352463552
[1, 2, 3, 4, 5, 6]

In [ ]:
#Accessing elements of a list
#To access inidividual elements of alist, we use index in square brackets.

![image.png]()

In [ ]:
#Can access any individual element using appropriate index value
a=['Phy',	'Chem',	'eng'	'math',	'bio',	'psp']
print(a[1])
print(a[3])
print(a[-1])
print(a[-5])

#If we try to access index out of the range or use float no. as index, we will get errors
#Slicng also works iwth lists as with strings. If b is a list, the expression b[m:n] returns theportion fo the lsit b from index m to n-1

In [ ]:
my_list=['p','y','t','h','o','n']
for a in my_list:
  print(a,end='')

python

In [ ]:
n=4
i=1
while i<=n:
  j=1
  while j<=i:
    print(j,end='')
    j+=1
  i+=1
  print("\n")

1

12

123

1234

In [ ]:
#traversing a list
#Traversing a list means accessing each element exactly once in order to process it
#Traversal as looping over a sequence

#for <var> in <list>:
  #process each item here

my_list=['p','y','t','h','o','n']
for _ in my_list:
  print(_)

n=len(my_list)
for i in range(n):
  print(my_list[i])

#Traversing a list using for loop is convenient and efficient as compared to a while loopo

In [ ]:
#Updating/Modifying an element of a list

x=[1,2,3,4,5,6,7,8,9]
print("Given List: ",x)
n=len(x)
for i in range(n):
  x[i]=x[i]+11

print("Updated List:",x)

Given List:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Updated List: [12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#Operations on Lists
#Concatenation of two or more lists

#Joining of two or more lists into a single one is called concatenation. The '+' operator does this in Python
a=[1,2,3,4]
b=['a','b','c']

d=a+b
c=['Phy',	'Chem',	'eng'	'math',	'bio',	'psp']
print(d)

e=a+b+c
print(e)

[1, 2, 3, 4, 'a', 'b', 'c']
[1, 2, 3, 4, 'a', 'b', 'c', 'Phy', 'Chem', 'engmath', 'bio', 'psp']

In [ ]:
#Repetition of a List
#The * operator can be used to repeat the elements of a list for a given no. of times

x=['a','b','c']
y = x*3

print(y)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
#Slicing the list
#List slices are the sub part of a list extracted out
#x[start:stop:step]

#The above statement will create a list slice having elements of list x on indexes from start to stop-1, in steps of stel

#Note:
#i. If start is omitted, it is taken as the beginning of the lsit
#ii. If stop is omitted, it is taken as the end of the list
#iii. If step is omitted, it is taken as +1 by default

x= [0,1,2,3,4,5,6,7,8,9]

print(x)

print(x[::])

print(x[:3])

print(x[3:])

print(x[::2])

print(x[-2:-7:-2])

print(x[::-1])

In [ ]:
#Program to extract two list-slices, one at even indexed and another at odd indexed. 
#Program also prints the sum of these elements

my_list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

eSlice=my_list[0::2]
oSlice=my_list[1::2]

sEven=sOdd=0

for i in eSlice:
  sEven+=i

for i in oSlice:
  sOdd+=i

print("Given list:",my_list)
print("List of even indexed element in list",eSlice)
print("List of odd indexed element in list",oSlice)

print("Sum of even indexed element in list",sEven)
print("Sum of odd indexed element in list",sOdd)

In [ ]:
#Membership Test on Lists
#We can test if an element exists in a given list or not, using membership operator in and not in

fruits = ["banana","apple","mango","grapes","guava"]

#print("Apple" in fruits)
#print("Apple" not in fruits)
print('p' in fruits)
print('p' in fruits[1])
#print("grapes" in fruits)
#print("gava" not in fruits)

False
True

In [ ]:
#List methods and functions
#Python library provides methods of list class and another set of functions that take lists as its arguments and operate on them

#List methods:
#append() - adds an item to the end of the list
a=["bee","moth"]
a.append("ant")
print(a)

#extend() - extends the list by appending all the items from another list
a=["bee","moth"]
b=["ant","fly"]
a.extend(b)
print(a)

#insert() - inserts an item at a given position
a=["bee","moth"]
a.insert(0,"ant")
print(a)

a.insert(2,"fly")
print(a)

#remove()- removes first occurrence of the given item from the list
a=["bee","moth","ant"]
a.remove("moth")
print(a)

#pop() - removes the item at the given position in the list, and returns it
#if no index is specified, pop() removes and returns the last item in the list
a=["bee","moth","ant"]
print(a.pop())
print(a.pop(1))
print(a)

['bee', 'moth', 'ant']
['bee', 'moth', 'ant', 'fly']
['ant', 'bee', 'moth']
['ant', 'bee', 'fly', 'moth']

In [ ]:
#index() - returns the position of the first occurrence of the given item
#It raises a ValueError exception if there is no such item in the list

a=["bee","ant","moth","ant",]
print(a.index("ant"))

#count()-returns the no. of times a given items appears in the list
print(a.count("ant"))

#sort()- sorts the items of the list
s=[3,2,5,4,1,8]
s.sort()
print(s)
s=[3,2,5,4,1,8]
s.sort(reverse=True)
print(s)

#reverse() - reverses the order of elements of the list
a=[6,5,4,3,2,1]
print(a.reverse())

In [ ]:
#List Functions
#list() - is a constructor of list class that returns a mutable sequence list of elements
#It can take an optional iterable object, which can be a sequence or collection of such as a string, list, tuple

print(list(["bee","moth","ant"]))

a=("I","am","a","sequence- tuple")

b=list(a)
print(b)

In [ ]:
#len() - returns the no. of items in the list
print(len(b))

#max() - returns largest item in a list
c=[10,34,1,90,-89]
print("Maximum element is",max(c))

#min()-returns smallest item in a list
print("Minimum element is",min(c))

#range() - represents an immutable sequence of numbers and is commonly used for looping a specific no. of times in for loops
#can also be used along with list() to return a list of items between a given range

print(list(range(10)))

print(list(range(1,11)))

print(list(range(56, 60)))

print(list(range(1:11:3)))

In [ ]:
#Illustrative programming examples
#Program to find minimum element and its index from a list

mlist=list()  #Create an empty list
n=int(input("Enter size of list"))

for i in range(n):
  print("Enter " + str(i+1) + " Element = ",end="")
  ele=int(input())
  mlist.append(ele)

mele=mlist[0]
mind=0

for i in range(1,n):
  if mlist[i]<mele:
    mele=mlist[i]
    mind=i

print("List is ",mlist)
print("Min elemen is ",mele, end="")
print(" index of min ele is ",mind)

Enter size of list5
Enter 1 Element = 23
Enter 2 Element = 45
Enter 3 Element = -9
Enter 4 Element = 34
Enter 5 Element = 12
List is  [23, 45, -9, 34, 12]
Min elemen is  -9index of min ele is  2

In [ ]:
#program to find the mean of given list. 
mlist=list()
n=int(input("Enter the no. of elements"))

for i in range(n):
  print("Enter " + str(i+1) + " Element = ",end="")
  ele=int(input())
  mlist.append(ele)

sum=0

for i in range(n):
  sum+=mlist[i];

mean=sum/n

print("List is ",mlist)
print("Mean of list is =%0.2f",mean)

Enter the no. of elements2
Enter 1 Element = 12
Enter 2 Element = 10
List is  [12, 10]
Mean of list is =%0.2f 11.0

In [ ]:
#Program to search a given element in  a list
#program to find the mean of given list. 
mlist=list()
n=int(input("Enter the no. of elements"))

for i in range(n):
  print("Enter " + str(i+1) + " Element = ",end="")
  ele=int(input())
  mlist.append(ele)

item=int(input("Enter the element to search"))
for i in range(n):
  if item == mlist[i]:
    print(item, " found at index ",i)
    break
else:
  print(item, " not found")

Enter the no. of elements2
Enter 1 Element = 12
Enter 2 Element = 34
Enter the element to search35
35  not found

In [ ]:
#Program to count frequency of a given element in a given list
mlist=list()
n=int(input("Enter length of list"))
for i in range(n):
  print("enter element" + " #" +str(i+1)+ " =", end='')
  item=int(input())
  mlist.append(item)

item=int(input("Enter given element: "))
count=0
for i in range(n):
  if(item==mlist[i]):
    count+=1

if count==0:
  print(item, " is not found in list")
else:
  print(item, " is present ", count, " no. of time")

In [ ]:
#program to count frequence of unique element in a given list
mlist=list()
ulist=list()
dlist=list()
n=int(input("Enter length of list"))
for i in range(n):
  print("enter element" + " #" +str(i+1)+ " =", end='')
  item=int(input())
  mlist.append(item)

print("Inputted list is", mlist)

i=0
while i< n:
  item=mlist[i]
  count=0
  if ((item not in ulist) and (item not in dlist)):
    i+=1
    for j in range (0,n):
      if item == mlist[j]:
        count+=1
    print("Frequency of element", item, "=", count)
    if count==1:
      ulist.append(item)
    else:
      dlist.append(item)
  else:
    i+=1
print("Unique list is ", ulist)
print("Duplicate list is ", dlist)

Enter length of list7
enter element #1 =1
enter element #2 =1
enter element #3 =2
enter element #4 =2
enter element #5 =3
enter element #6 =3
enter element #7 =1
Inputted list is [1, 1, 2, 2, 3, 3, 1]
Frequency of element 1 = 3
Frequency of element 2 = 2
Frequency of element 3 = 2
Unique list is  []
Duplicate list is  [1, 2, 3]

In [ ]:
#Program to find the third largest in a list
#mlist=list()
#n=int(input("Enter length of list"))
#mlist=[90, 89, 1,2,3,78,4,5,6,7,8,9]
#n=12
mlist=[1,2,3,4,5,6,7,8,9]
n=9
#for i in range(n):
#  print("enter element" + " #" +str(i+1)+ " =", end='')
#  item=int(input())
#  mlist.append(item)
#l1=l2=l3=mlist[0]
l1=mlist[0]
l2=mlist[1]
l3=mlist[2]


for i in range(1,n):
  if mlist[i] > l1:
    #l3=l2
    #l2=l1
    l1=mlist[i]
  #elif mlist[i] > l2 and mlist[i]<l1:
l2=l1
for i in range(1,n):
    if mlist[i] > l2 and mlist[i]<l1:
      l2=mlist[i]
  #elif mlist[i] > l3 and mlist[i]<l2:
    l3=mlist[i]
print("List is ", mlist)
print("Largest element is ", l1)
print("2nd Largest element is ", l2)
print("3rd Largest element is ", l3)

List is  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Largest element is  9
2nd Largest element is  9
3rd Largest element is  9

In [ ]:
l=[1, 2, 3, 4, 5, 3,3,6, 7, 8, 9,3,3,5,[3,6]]
print(l.count(10))
print(l.count([3,6]))

0
1

In [ ]:
l1=[11,1000,9000]
l2=[200,20]
print(l1>l2)

False

In [ ]:
l1=[100,10,20,30,True,1,False,0,22/7,90.999]
l1.sort()
print(l1)

[False, 0, True, 1, 3.142857142857143, 10, 20, 30, 90.999, 100]

In [ ]:
print( False == 0)

True

In [ ]:
l=[1,2,3,4,True,"Red"]
max(l)

TypeError: ignored

In [ ]:
#create an array
# 2 9
# 3 10
twoDL=[[2,9],[3,10]]
print(twoDL[0][0])

In [ ]:
t = ("abc",'def','pqr','xyz')
print(t)
print(hex(id(t)))

In [ ]:
list1 = []
list2=[]
Number = int(input("Enter the Total Number of List Elements: "))
for i in range(1, Number + 1):
    values = int(input("Please enter the Value of %d Element : " %i))
    list1.append(values)
print(list1)
while list1 :
  min=list1[0]
  for x in list1:
    if x < min:
      min=x
  list2.append(min)
  list1.remove(min)

print(list2)

Enter the Total Number of List Elements: 5
Please enter the Value of 1 Element : 1
Please enter the Value of 2 Element : 2
Please enter the Value of 3 Element : 45
Please enter the Value of 4 Element : -9
Please enter the Value of 5 Element : 2
[1, 2, 45, -9, 2]
[-9, 1, 2, 2, 45]