<a href="https://colab.research.google.com/github/Prathima-tr/Problem-Solving-and-Programming/blob/main/Operators_%26_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Yashwanth Kanetkar, "Let us python", 3rd Edition, BPB Publication

In [ ]:
#arithmetic operators
a=5
b=2
print("Addition: ", a+b)
print("Subtraction: ", a-b)
print("Multiplication: ", a*b)
print("Division ", a/b)
print("Mod ", a%b)                 #Operation a % b is evaluated as a - (b * (a // b))
print("Floor division", a//b)
print("exponentiation", a**b)

Addition:  7
Subtraction:  3
Multiplication:  10
Division  2.5
Mod  1
Floor division 2
exponentiation 25

In [ ]:
-10//3

-4

In [ ]:
#a % b is evaluated as a - (b * (a // b)),
print(-10 % 3) #is evaluated as -10 - (3 * (-10 // 3)), which yields 2
print(10 % -3) #is evaluated as 10 - (-3 * (10 // -3)), which yields -2
print(-10 % -3) #is evaluated as -10 - (-3 * (-10 // -3)), which yields -1

2
-2
-1

In [ ]:
#True is 1 and False is 0, they can be added.
a = True + True
b = True + False
print("a is ",a)
print("b is ",b)

a is  2
b is  1

In [ ]:
#In-place assignment operators offer a good shortcut for arithmetic operations.
#These include += -= *= /= %= //= **=.
a **= 3             #similar to a = a**3
b %= 10             #similar to b = b%3

In [ ]:
#On performing floor division a // b, result is the largest integer which is
#less than or equal to the quotient. // is called floor division operator.
print(10 // 3)	# yields 3
print(-10 // 3)	# yields -4
print(10 // -3)	# yields -4
print(-10 // -3)	# yields 3
print(3 // 10)	# yields 0
print(3 // -10)	# yields -1
print(-3 // 10)	# yields -1
print(-3 // -10)	# yields 0

3
-4
-4
3
0
-1
-1
0

In [ ]:
#Python is a case sensitive language.
#Python identifier is a name used to identify a variable, function, class, module, or other object.
# Rules for creating identifiers:
#- Starts with alphabet or an underscore.
#- Followed by zero or more letters, _, and digits.
#- keyword cannot be used as identifier.

#You can print a list of Python keywords through the statements:
import keyword
#makes the module 'keyword' available
print(keyword.kwlist)
# syntax - modulename.object/function
#Keywords are in lowercase

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#Relational operators - Outcome of applying relational expression is always Boolean
print ("Greater than - ", 10>10)
print ("Less than - ", 10<2)
print ("Greater than or equal to  ", 10>=10)
c = 90
d=100
print ("Less than or equal to - ", c<=d)
print ("Not equal to - ", c!=d)
print ("equal to - ", "CBIT"=="cbit")

#print (if 9%3 ==0 )

t = 9%3 ==0
print(t)

Greater than -  False
Less than -  False
Greater than or equal to   True
Less than or equal to -  True
Not equal to -  True
equal to -  False

In [ ]:
#Logical Operators
#More complex decision making can be done using logical operators and, or and not.
#Conditions can be combined using and and or as shown below:
#cond1 and cond2 - returns True if both are True, otherwise False cond1 or cond2
#- returns True if one of them is True, otherwise False
#Strictly speaking, we need not always combine only conditions with and/or.
#We can use any valid expression in place of conditions.
#Hence when used with expressions we may not get True/False.
#and operator evaluates ALL expressions. It returns last expression
#if all expressions evaluate to True.
#Otherwise it returns first value that evaluates to False.

a = 40
b = 30
x = 75 and a >= 20 and b < 60 and 35              # assigns 35 to x

print(x)

y = -30 and a >= 20 and b < 15 and 35
#-30 and True and False and 35
z = -30 and a >= 20 and 0 and 35

print("y=", y, "z=", z)

35
y= False z= 0

In [ ]:
0 and "CBIT"

0

In [ ]:
#or operator evaluates ALL expressions and returns the first value that evaluates to True.
#Otherwise it returns last value that evaluates to False.
a = 40
b = 30
x = 75 or a >= 20 or 60
y = a >= 20 or 75 or 60
z = a < 20 or 0 or 35

print("x=",x,"y=", y, "z=", z)

x= 75 y= True z= 35

In [ ]:
#all( ) and any( )
#Instead of using the and and or logical operators, we can use the built-in functions
#all( ) and any( ) to get the same effect. Their usage is shown in the following program:

a, b, c = 10, 20, 30
res = all((a > 5, b > 20, c > 15))
print(res)	# prints False, as second condition is False
res = any((a > 5, b > 20, c > 15))
print(res)	# prints True since one of the condition is True

#Note that all( ) and any( ) both receive a single parameter of the type string, list, tuple, set or dictionary.
#We have passed a tuple of 3 conditions to them. If argument is a dictionary it is checked whether the keys are true or not.
#any( ) function returns True if at least one element of its parameter is True.
#all( ) function returns True if all elements of its parameter are True

False
True

In [ ]:
#Condition’s result can be negated using not.
a = 10
b = 20
print(not (a <= b) )
print(not (a >= b))

a = input('Enter 0 or 1')
a = not a                ## set a to 0 if it is 1, and set it to 1 if it is 0
print(a)

a = not b                #does not change value of b.

#If an operator needs only 1 operand it is known as Unary operator.
#If it needs two, then it is a binary operator.
#not - needs only 1 operand, so unary operator
#+, -, <, >, and, or, etc. - need 2 operands, so binary operators

False
True

In [ ]:
a = 10
b = 20
print(not (a <= b) )

False

In [ ]:
#Conditional Expressions
#Python supports one additional decision-making entity called a conditional expression.

#<expr1> if <conditional expression> else <expr2>

#<conditional expression> is evaluated first. If it is true, the expression evaluates to <expr1>.
#If it is false, the expression evaluates to <expr2>.

#	Examples of condition expressions:

age = 15
status = 'minor' if age < 18 else 'adult'	# sets minor
sunny = False
print('Lets go to the', 'beach'if sunny else 'room')
humidity = 76.8
setting = 25 if humidity > 75 else 28	# sets 25

Lets go to the room

In [ ]:
#Conditional expressions can be nested
# assigns Prim
wt = 55
msg = 'Obese' if wt > 85 else 'Hefty' if wt > 60 else 'Prim'
print(msg)

Prim

In [ ]:
#Python supports 3 categories of data types:
#Basic types - int, float, complex, bool, string, bytes Container types - list, tuple, set, dict
#User-defined types - class

In [ ]:
#Basic Types
# int can be expressed in binary, decimal, octal, hexadecimal
# binary starts with 0b/0B, octal with 0o/0O, hex with 0x/0X 0b10111, 156, 0o432, 0x4A3
# float can be expressed in fractional or exponential form - 314.1528, 3.141528e2, 3.141528E2
# complex contains real and imaginary part 3 + 2j, 1 + 4J
# bool can take any of the two Boolean values both starting in caps True, False
# string is an immutable collection of Unicode characters enclosed
# within ' ', " " or """ """ - 'Razzmatazz', "Razzmatazz", """Razzmatazz"""

In [ ]:
#	int can be of any arbitrary size
a = 123
b = 1234567890
c = 123456789012345678901234567890
#Python has arbitrary precision integers. Hence you can create as big integers as you want.
#Moreover, arithmetic operations can be performed on integers without worrying about overflow/underflow
print("a=",a, "b=", b, "c=",c)

In [ ]:
#Variable Type and Assignment
#There is no need to define type of a variable.
#During execution the type of the variable is inferred from the context in which
#it is being used. Hence Python is called dynamically-typed language.
a = 320
print("type of a is ", type(a))

a = 231.45
print("type of a is ", type(a))

a="CBIT"
print("type of a is ", type(a))

In [ ]:
#Multiple variable assignment:
a = 10 ; pi = 3.14 ; name = 'CBIT' # use ; as statement separator
print("a=",a, "pi=", pi, "college name=",name)

a, pi, name = 10, 3.14, 'CBIT'
print("a=",a, "pi=", pi, "college name=",name)

u = v = x = y = 5
print("u=",u, "v=", v, "x=",x, "y=", y)

a= 10 pi= 3.14 college name= CBIT
a= 10 pi= 3.14 college name= CBIT
u= 5 v= 5 x= 5 y= 5

In [ ]:
#Conversions
#	Mixed mode operations:
#-	Operation between int and float will yield float.
#-	Operation between int and complex will yield complex.
#-	Operation between float and complex will yield complex.
#	We can convert one numeric type to another using built-in functions
#int( ), float( ), complex( ) and bool( ).
#	Type conversions:
#int(float/numeric string)	# from float/numeric string to int int(numeric string, base)	# from numeric string to int in base
#float(int/numeric string)	# from int/numeric string to float float(int)	# from int to float
#complex(int/float) # convert to complex with imaginary part 0 complex(int/float, int/float) # convert to complex
#bool(int/float)	# from int/float to True/False (1/0) str(int/float/bool)	# converts to string
#chr(int)	# yields character corresponding to int

#	int( ) removes the decimal portion from the quotient, so always rounds towards zero.
print(int(3.33))	# yields 3
print(int(-3.33))	# yields -3

3
-3

In [ ]:
#Bitwise Operators
#	Bitwise operators permit us to work with individual bits of a byte. There are many bitwise operators available:
#~ - not (also called complement operator)
#<< - left shift, >> - right shift & - and, | - or, ^ - xor
ch = 32
dh = ~ch                         # toggles 0s to 1s and 1s to 0s
eh = ch << 3                     # << shifts bits in ch 3 positions to left
fh = ch >> 2                     # >> shifts bits in ch 2 positions to right
a = 10 & 4                      # and bits of 45 and 32
b = 10 | 4                      # or bits of 45 and 32
c = 10 ^ 4                      # xor bits of 45 and 32

print("dh=", dh, "eh=", eh, 'fh=',fh,'a=',a,'b=',b,'c=',c)

dh= -33 eh= 256 fh= 8 a= 0 b= 14 c= 13

In [ ]:
#Above content is taken from
#Yashavant Kanetkar Aditya Kanetkar, "Let us python", 3rd Edition, BPB Publication

In [ ]:
#Bitwise not operator: Returns one’s complement of the number.

#Example:

#a = 10 = 1010 (Binary)

#In computers we usually represent numbers using 32 bits,
#so binary representation of 10 is (....0000 1010)[32 bits]

#~a is basically 1's complement of a
#i.e ~a should be ~10 = ~(....0000 1010) = (....1111 0101) = intermediate-result

#Since bitwise negation inverts the sign bit,
#we now have a negative number. And we represent a negative number using 2's complement.

#2's complement of intermediate-result is:
#intermediate-res =  0101      //....1111 0101
#                     1010      //....0000 1010 -(1's complement)
#                         +1
#                 -----------
#                   =  1011      //....0000 1011
#                  -----------
#                   =   -11 (Decimal)
#thus ~a = -11

#https://www.geeksforgeeks.org/python-bitwise-operators/

In [ ]:
'''
Bitwise xor operator: Returns 1 if one of the bits is 1 and the other is 0 else returns false.

Example:

a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary)

a ^ b = 1010
         ^
        0100
      = 1110
      = 14 (Decimal)
'''
#https://www.geeksforgeeks.org/python-bitwise-operators/

In [ ]:
# Python program to show bitwise operators

a = 10
b = 4

# Print bitwise AND operation
print("a & b =", a & b)

# Print bitwise OR operation
print("a | b =", a | b)

# Print bitwise NOT operation
print("~a =", ~a)

# print bitwise XOR operation
print("a ^ b =", a ^ b)
#https://www.geeksforgeeks.org/python-bitwise-operators/

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [ ]:
'''
Shift Operators
These operators are used to shift the bits of a number left or right thereby multiplying or dividing the number by two respectively. They can be used when we have to multiply or divide a number by two.
Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result. Similar effect as of dividing the number with some power of two.
Example:

Example 1:
a = 10 = 0000 1010 (Binary)
a >> 1 = 0000 0101 = 5

Example 2:
a = -10 = 1111 0110 (Binary)
a >> 1 = 1111 1011 = -5
Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. Similar effect as of multiplying the number with some power of two.
Example:

Example 1:
a = 5 = 0000 0101 (Binary)
a << 1 = 0000 1010 = 10
a << 2 = 0001 0100 = 20

Example 2:
b = -10 = 1111 0110 (Binary)
b << 1 = 1110 1100 = -20
b << 2 = 1101 1000 = -40
'''
#https://www.geeksforgeeks.org/python-bitwise-operators/

In [ ]:
# Python program to show shift operators

a = 10
b = -10

# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a = 5
b = -10

# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)
#https://www.geeksforgeeks.org/python-bitwise-operators/

In [ ]:
# Anything ANDed with 0 is 0.
# Anything ORed with 1 is 1.
# 1 XORed with 1 is 0.
# << - As bits are shifted from left, zeros are pushed from right.
# >> - As bits are shifted from right, left-most bit is copied from left.

#Purpose of each bitwise operator is given below:
# ~	- Convert 0 to 1 and 1 to 0
# << >> - Shift out desired number of bits from left or right
# &	- Check whether a bit is on / off. Put off a particular bit
# |	- Put on a particular bit
# ^	- Toggle a bit

#	Bitwise in-place operators: <<= >>= &= |= ^=
#a = a << 5 is same as a <<= 5
#b = b & 2 is same as b &= 2

#	Except ~ all other bitwise operators are binary operators.

Shared by Ms I Srujana Mam, CSE Dept. CBIT

In [ ]:
#Python Type Jargon
#Often following terms are used while describing Python types:
#Collection - a generic term for container types.
#Iterable - means a collection that can be iterated over using a loop.
#Ordered collection - elements are stored in the same order in which they are inserted. Hence its elements can be accessed using an index, i.e. its position in the collection.
#Unordered collection - elements are not stored in the same order in which they are inserted. So we cannot predict at which position a particular element is present. So we cannot access its elements using a position based index.

Python Special operators

Python language offers some special types of operators like the identity operator and the membership operator.

# Identity operators
In Python, is and is not are used to check if two values are located on the same part of the memory.

In [ ]:
x1 = 5
y1 = 6
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
#print(id(x1),id(y1))
print(x1 is not y1)

print(x2 is y2)

print(x3 is y3)
print(id(x3))
print(id(y3))

True
True
False
140305779112320
140305779113024

# Membership operators
In Python, in and not in are the membership operators. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [ ]:

list_1 = ['sita', 'ram', 'laxman']
print('bharath' not in list_1)

True

In [ ]:
item = 45
list_1 = list(range(1, 30))
print(item in list_1)

False

In [ ]:
a = 'ravana'
list_1 = ['sita', 'ram', 'laxman']
print(a not in list_1)

True

In [ ]:
s="Welcome"
print(s[-7])

W

# Slice Operator

The Slice Operator

A substring of a string is called a slice. Selecting a slice is similar to selecting a character:

The slice operator [n:m] returns the part of the string starting with the character at index n and go up to but not including the character at index m. Or with normal counting from 1, this is the (n+1)st character up to and including the mth character.

If you omit the first index (before the colon), the slice starts at the beginning of the string/List/Tuple. If you omit the second index, the slice goes to the end of the string.

In [ ]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(a_list[1:3])
print(a_list[:4])
print(a_list[3:])
print(a_list[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

myStr[start:stop:step]

myStr[:stop]  # By using one colon and leaving the first argument blank we automatically start at index 0, stepping by 1

myStr[start:]  # By using one colon and leaving the last argument blank we automatically go to the end, stepping by 1

myStr[::step]  # by using two colons and leaving the first two arguments blank we start at index 0, go to the end and step by 1

In [ ]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:7])

['c', 'd', 'e', 'f', 'g']

In [ ]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [ ]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:-5])

['c', 'd']

In [ ]:
# Return every 2nd item between position 2 to 7
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:7:2])

['c', 'e', 'g']

In [ ]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [ ]:
# Slice the first three items from the list
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[:3])

['a', 'b', 'c']

In [ ]:
# Slice the last three items from the list
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:])

['g', 'h', 'i']

In [ ]:
L = ['a', 'b', 'c', 'd', 'e']
print(L[::-1])

['e', 'd', 'c', 'b', 'a']

# Ellipsis Operator
An Ellipsis Is a Placeholder for Unwritten Code

When designing a new module, we usually define some functions or classes but won’t implement them immediately. Because we only want to determine what we need to write in future and don’t care too much about the implementation details at this early stage. In this scenario, the ellipsis is our best friend:

In [ ]:
def write_an_article():
    ...

In [ ]:
def write_an_article():
    pass

# Sequence mutation and accumulating patterns

The Accumulator Pattern:

One common programming “pattern” is to traverse a sequence, accumulating a value as we go, such as the sum-so-far or the maximum-so-far. That way, at the end of the traversal we have accumulated a single value, such as the sum total of all the items or the largest item.

The anatomy of the accumulation pattern includes:

•	initializing an “accumulator” variable to an initial value (such as 0 if accumulating a sum)

•	iterating (e.g., traversing the items in a sequence)

•	updating the accumulator variable on each iteration (i.e., when processing each item in the sequence)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

accum = 0

for w in nums:

    accum = accum + w

print(accum)

55

In the program above, notice that the variable accum starts out with a value of 0. Next, the iteration is performed 10 times. Inside the for loop, the update occurs. w has the value of current item (1 the first time, then 2, then 3, etc.). accum is reassigned a new value which is the old value plus the current value of w.

This pattern of iterating the updating of a variable is commonly referred to as the accumulator pattern. We refer to the variable as the accumulator. This pattern will come up over and over again. Remember that the key to making it work successfully is to be sure to initialize the variable before you start the iteration. Once inside the iteration, it is required that you update the accumulator.

# Sequence mutation:

Mutation is change in the object after object is created

In [ ]:
lt=[1,2,'kkk','jjj',5]
lt

[1, 2, 'kkk', 'jjj', 5]

In [ ]:
lt[0]=23
lt

[23, 2, 'kkk', 'jjj', 5]

#List is mutable, hence changes in object is permitted after its creation, check the above example

Mutation is also possible through methods, check below example using pop(), remove(), etc

In [ ]:
a=[1, 2, 3, 'ppp', 4, 'kkk', [6, 7], 6, 7, 2]
a.pop()

2

In [ ]:
a.pop()

7

In [ ]:
a

[1, 2, 3, 'ppp', 4, 'kkk', [6, 7], 6]

In [ ]:
a.remove('ppp')

In [ ]:
a

[1, 2, 3, 4, 'kkk', [6, 7], 6]

In [ ]:
2**3**3

134217728

In [ ]:
2**3**2

512