# Python Input, Output and Import

This class focuses on two built-in functions **`print()`** and **`input()`** to perform I/O task in Python. 

Some of the functions like **`print()`** and **`input()`** are widely used for standard input and output operations respectively. Let us see the output section first.

## 1. Python Output Using `print()` function

We use the **`print()`** function to output data to the standard output device (screen).
An example of its use is given below.

In [ ]:
# Example 1:

print('Hello World')

Hello World

In [ ]:
# Example 2:

a = 9
print('The value of a is ',a)

The value of a is  9

In the second **`print()`** statement, we can notice that space was added between the string  and the value of variable **`a`**. This is by default, but we can change it.

**Syntax** of the **`print()`** function is:

```python
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
```

Here, objects is the value(s) to be printed.

The **`sep`** separator is used between the values. It defaults into a space character.

After all values are printed, **`end`** is printed. It defaults into a new line.

The **`file`** is the object where the values are printed and its default value is **`sys.stdout`** (screen). Here is an example to illustrate this.

In [ ]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='   ')   # It will separate your elements with '#'
print(1, 2, 3, 4, sep='*', end='&')  # It will separate your elements with '*' and end with '&'

1 2 3 4
1   2   3   4
1*2*3*4&

## Output formatting

Sometimes we would like to format our output to make it look attractive. This can be done by using the **`str.format()`** method. This method is visible to any string object.

In [ ]:
x = 6; y = 12
print('The value of x is {} and y is {}'.format(x,y))
print("The value of x is ",x,"and y is",y)

The value of x is 6 and y is 12
The value of x is  6 and y is 12

Here, the curly braces **`{}`** are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index).

We can even use keyword arguments to format the string.

In [ ]:
print('Hello {name}, {greeting}!'.format(greeting = 'Good morning', name = 'Mark'))

Hello Mark, Good morning!

We can also format strings like the old **`sprintf()`** style used in C programming language. We use the **`%`** operator to accomplish this.

In [ ]:
x = 12.34567890
print('The value of x is %0.2f' %x)  # "%0.2" means only 2 number after decimal

print('The value of x is %0.3f' %x)  # "%0.3" means only 3 number after decimal

The value of x is 12.35
The value of x is 12.346

## 2. Python Input Using `input()` function

Up until now, our programs were static. The value of variables was defined or hard coded into the source code.

To allow flexibility, we might want to take the input from the user. In Python, we have a built-in function **`input()`** to accept user input.

**Syntax**:

```python
input([prompt])
```

where **`prompt`** is the string we wish to display on the screen. It is optional.

In [ ]:
num = int(input('Enter a number :'))
print(num)
type(num)

Enter a number :344
344

int

Here, we can see that the entered value **`90`** is a string, not a number. To convert this into a number we can use **`int()`** or **`float()`** functions.

In [ ]:
int('90')  # converting string '90' to integer

90

In [ ]:
float('90')

90.0

In [ ]:
a = "6"  # Is this a STRING character
b = "P"  # IS this a STRING chracter
c = a + b
print(c)

6P

In [ ]:
int(6+3) # ERROR! cannot add numbers as string data type

9

This same operation can be performed using the **`eval()`** function. But **`eval`** takes it further. It can evaluate even expressions, provided the input is a string.

In [ ]:
eval('6+3') # Eval function can add numbers in string data type

9

In [ ]:
eval('3*6')

18

### Practice Problem

Accept one integer and one float number from the user and calculate the sum of both the numbers.

In [ ]:
num1 = int(input("Enter first number: "))  
num2 = float(input("Enter second number: "))  

result=(num1+num2)
print("Final result is: ", result)

Enter first number: 12
Enter second number: 23.98
Final result is:  35.980000000000004

### Get multiple input values from a user in one line

In Python, It is possible to get multiple values from the user in one line. i.e., In Python, we can accept two or three values from the user in one **`input()`** call.

For example, in a single execution of the **`input()`** function, we can ask the user his/her name, age, and phone number and store it in three different variables. Lets see how to do this.

In [ ]:
name, age, phone = input("Enter your Name, Age, Phone_number separated by space: ").split()
print("\n")
print("User Details: ", name, age, phone)

Enter your Name, Age, Phone_number separated by space: srujana 40 9837464466


User Details:  srujana 40 9837464466

### Format output strings by its positions

## 3. Python `Import` function

When our program grows bigger, it is a good idea to break it into different modules.

A module is a file containing Python definitions and statements.

Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the **`import`** keyword to do this.

For example, we can import the **`math`** module by typing the following line:

```python
>import math
```

We can use the module in the following ways:

In [ ]:
import math
print(math.pi) # do not have to make vairable for pi
print(math.sqrt(abs(-4)))

3.141592653589793
2.0

Now all the definitions inside **`math`** module are available in our scope. We can also import some specific attributes and functions only, using the **`from`** keyword. For example:

In [ ]:
from math import pi
pi

While importing a module, Python looks at several places defined in **`sys.path`**. It is a list of directory locations.

In [ ]:
import sys
sys.path

We can also add our own location to this list.