R.S. Salaria, Khanna , “Programming for Problem Solving”, Book Publishing Co., Delhi.

In [ ]:
#Mathematically, a set is a collection of unique elements that are not in any particular order
#A Python set is similar to this definition with the following additional conditions:
#a. The elements in the set are immutable (cannot be modified) but the set as a whole is mutable
#b. There is no index attached to any element in a python set. So they do not support any indexing or slicing operation

In [ ]:
#Learning Objectives
#Define a set
#Explain key characteristics of sets
#Create sets in different ways
#Demonstrate ways to add and remove elements to/from a set
#Perform various operations on sets

In [ ]:
# Set is created by using set() function or placing all the elements within a part of curcly braces. 
#They are defined as set class in Python

In [ ]:
#Creating a Set: 
#i. Empty Set 
#ii. Set with a given set of elements and 
#iii. Set constructed from another sequences, such as string, list, or another set

In [ ]:
#Creating an empty set
a = set([])
print(type(a))

<class 'set'>

In [ ]:
#Creating set with given elements
#To create a set with given elements, just enclose the comma separated list of elements in braces
b = {1,2,3,4,5,6}
print(b)
c={1,'one',2,'two',3,'three'}
print(c)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 'three', 'two', 'one'}

In [ ]:
#creating set from another set / sequence
#To create a set from another sequence, we use set() method, which is a constructor of set class, with set/sequence as its argument
a={1,2,3}
b=set(a)
print(b)

c=set("abcdefgabchijk")
print(c)

d=set([3,2,1,0,-1])
print(d)

e=set((3,6,9,12,15))
print(e)

{1, 2, 3}
{'h', 'f', 'k', 'e', 'a', 'b', 'i', 'd', 'g', 'j', 'c'}
{0, 1, 2, 3, -1}
{3, 6, 9, 12, 15}

In [ ]:
#Accessing elements of a set
#Individual elements of a set can be accessed

days={"Mon", "Tue","Wed","Thu","Fri","Sat","Sun"}
for d in days:
  print(d)

In [ ]:
#Adding elements to a set
flowers={"Rose","Lotus","Lilly"}
print(flowers)

flowers.add("Tulip")
print(flowers)

In [ ]:
#Removing elements from a set
flowers.discard("Lotus")
print(flowers)

In [ ]:
#Operations on Sets
#The sets in Python are typically used for mathematical operations like union, intersection, difference and companisor, etc

#Union of Sets
#Union of two sets produces a new set containing all the distinct elements from both sets

A = {0, 2, 3,5}
B = {-1, 2, 3, 7, 9}
AuB = A|B
print(AuB)

AuB = A.union(B)
print(AuB)

#Intersection of Sets
#Produces a new set containing only the common elements from both the sets
AiB = A & B
print(AiB)

AiB = A.intersection(B)
print(AiB)

#Difference of Sets
#Produces a new set containing only the elemnets from teh first set and none from the second set

AdB  =A - B
print(AdB)

AdB = A.difference(B)
print(AdB)


#Symmetric Difference of Sets
#Produces a set that contains the elements that are not shared by the sets.
AsdB = A^B
print(AsdB)

AsdB = A.symmetric_difference(B)
print(AsdB)

#Comparing Sets
#
set1 = set([1, 2, 3, 4])
set2 = set([2, 3])

print(set2.issubset(set1))
print(set2 <= set1)

print(set1.issuperset(set2))
print(set1 >= set2)

{0, 2, 3, 5, 7, 9, -1}
{0, 2, 3, 5, 7, 9, -1}
{2, 3}
{2, 3}
{0, 5}
{0, 5}
{0, 5, 7, 9, -1}
{0, 5, 7, 9, -1}
True
True
True
True

In [ ]:
#Write a Python program to find the maximum and minimum values in a set.

In [ ]:
#Write a Python program to find the length of a set.

In [ ]:
#Write a Python program to check if a given value is present in a set or not.

In [ ]:
#Write a Python program to check if two given sets have no elements in common.

In [ ]:
#Write a Python program to check if a given set is a superset of itself and a superset of another given set.

In [ ]:
#Write a Python program to find elements in a given set that are not in another set.

In [ ]:
#Write a Python program to remove the intersection of a second set with a first set.