R.S. Salaria, Khanna , “Programming for Problem Solving”, Book Publishing Co., Delhi.

In [ ]:
#A string is an ordered sequence of characters, where a character is simply a symbol.
#The conversion of a character to a number is called encoding, and the reverse process is decoding. ASCII code and Unicode are some fo the popular encoding used
#Strings in Python are immutable, i.e., they cannot be modified

In [ ]:
#Learning Objectives
#Define a String
#Explain key characteristics of Strings
#Create Strings in different ways
#Demonstrate the usage of various predefined methods on strings
#Write programs to manipulate strings

In [ ]:
s="Welcome"
#s[1]='x'
x=s
print(id(x))
print(id(s))

l1=[1,2,3,4]
l2=l1
print(id(l1))
print(id(l2))

139639456384688
139639456384688
139639468115840
139639468115840

In [ ]:
#Creating Strings
#Strings in Python are created by enclosing characters inside a single quotes or double quotes. Triple quotes are used to represent multiple line strings

#Creating string using single quotes
str1='Hello'
print(str1)

#Creating string using double quotes
str2="Hello"
print(str2)

#Creating string using Triple quotes
str3='''Í love 
Programming 
in Python'''
print(str3)

#Creating multiple lines string using triple quotes
str4="""Hello, 
Welcome to 
the world of Python!"""
print(str4)

#Python allows both negative and positive indexing for its individual characters
#n - length of the string = no. of characters in a string
#in terms of positive index, 0 is the index of the first character and n-1 is the index of the last haracter and
#in terms of the negative inex, -n is the index o fhte first character and -1 is the index of the last character

Hello
Hello
Í love
Programming
in Python
Hello,
Welcome to
the world of Python!

![image.png]()

In [ ]:
#Accessing individual characters in a string
#Using positive index, we can access the individual characters in the forward direction while using a -ve index we can access the individual characters in the backward direction

#We can access
#Individual character using specific index, and 
#a group of contiguous characters using a range of indices (slicing)

txt="Hello"
print("First character= ", txt[0])

print("Last character=",txt[-1])

print("First three characters = ",txt[0:3])

print("1st to 3rd characters =",txt[1:4])

#If we access index out of the range or use float no. as index, we will get errors

#print(txt[8])

print(txt[1.5])

First character=  H
Last character= o
First three characters =  Hel
1st to 3rd characters = ell

TypeError: ignored

In [ ]:
#Modifying and deleting a string

txt="Welcome"

#txt[2]='a'

txt="Python"

#We cannot delete individual characters from a string, however, we can delete the entire string by using the keyword del

txt="Welcome"
#del txt[2]

del txt
print(txt)

NameError: ignored

In [ ]:
#Operations on strings

#Concatenation of two or more strings

#Joining of two or more strings into a single one is called concatenation. The '+'operator does this in python

txt1="Hello, "
txt2="World!"

txt3=txt1+txt2
print(txt3)

In [ ]:
#Repetition of a string

#The * operator can be used to repeat the string for a given no. of times

txt1="Hello"
text2=txt1*3
print(text2)

HelloHelloHello

In [ ]:
text="India"
for _ in text:
  print(_,end=' ')

I n d i a

In [ ]:
#Iterating through a string
#Using for loop we can iterate through a string to access its individual characters

#Program to count the no. of vowels in a given string

txt=input("Enter a given string")
vCount = 0

for ch in txt:
  if (ch in ['a','e','i','o','u']):
    vCount+=1

print("Total vowels found in ", txt, "=",vCount)

Enter a given stringSir C R Reddy Polytechnic
Total vowels found in  Sir C R Reddy Polytechnic = 5

In [ ]:
#Count the no. of characters in a string
txt=input("Enter a string")
count=0

for ch in txt:
  count+=1

print("Length of the given string is =",count)

In [ ]:
#Membership test on strings: usage of in and not it
#Test whether a character or sub-string exists within a given string or not

txt="Programs"
print('a' in txt)

print('gr' in txt)

print("program" in txt)

True
True
False

In [ ]:
#Comparing string
#Any two strings can be compared using relational operators (<, <=, >, >=, ==, !=)
#The comparison is based on character-by-character comparison for Unicode, i.e., dictionary order
#For most of the common characters such as alphabets, digits, punctuation characters etc., ASCII and Unicode are same

a="abc"
b="abc"
c="def"

print(a==b)

print(a==c)

print(a!=c)

print(a<=c)

print(c>=a)

print("a">="A")

print("rst">"uvw")

In [ ]:
print("feb">"jan")

False

In [ ]:
#String methods and functions
#Python library provides large number of methods of string str class and another set of fucntions that take strings as its arguments and operate on them

#String Methods

#Capitalise - converts the first character of the string to uppercase
txt="hello World"
print(txt.capitalize())

#count - returns the no. of times a specified value occurs in a string
txt="I am practicng Python"
print(txt.count("p"))

#endswith() - Returns true if the string ends with the specified character or substring
txt="Welcome to world of Python."
print(txt.endswith("."))

#find() - Searches the string for a specified value and returns the position of where it was found
txt="Welcome to world of Python."
print(txt.find("come"))

#index() - Searches the string for a specified value and returns the position of wehre it was found
txt="Welcome to world of Python."
print(txt.index("world"))

#isalnum() - Returns True if all characters in the string are alphanumeric
txt="Welcome to world of Python 2023."
print(txt.isalnum())

#isalpha() - Returns True if  all characters in teh string are in the alphabet
txt="abcdefghi"
print(txt.isalpha())

#isdecimal() - Returns True if all characters in the string are decimals
txt="123124148890.90"
print(txt.isdecimal())

#isdigit() - Returns True if all characters in the string are digits
txt="789098"
print(txt.isdigit())

#isnumeric() - Returns True if all cahracters in the string are numeric
txt=('3456')
print(txt.isnumeric())
#str.isdecimal('1') - #True
#str.isdigit('1') - #True
#str.isdecimal('1.0') - #False
#str.isdigit('1.0') - #False
#str.isdecimal('1/2') - #False
#str.isdigit('1/2') - #False

#isprintable() - Returns True if all characters in teh string are printable
txt = "Hello, how are you"
print(txt.isprintable())

#isspace() - Returns True if all characters in the string are white spaces
txt = " "
print(txt.isspace())


#istitle() - Returns True if the string follows the rules of a title, i.e., first letter of every word is in uppercase
txt="Welcome to World of Python"
print(txt.istitle())

#isupper() - Returnes True if all characters in teh string are upper case
txt="HELLO"
print(txt.isupper())

#lower() - Converts a string into lower case
txt="Hello"
print(txt.lower())

#partition - Returns a tuple where the string is parted into three parts
txt1=" could eat bananas all day"
txt2=txt.partition("bananas")
print(txt2)

#replace() - Returns a string where a specified value is replaced with a specified value
txt="I like C Programming"
txt.replace("C", "Python")
print(txt)

#rindex() - Searches the string for a specified value and returns the last position of where it was found
txt="wel come home"
print(txt.rindex("ome"))

#split() - Split the string at the specified separator, and returns a list
txt="Welcome to the city"
print(txt.split())

#startswith() - Returns true if the string starts with the specified value
txt="Welcome to the world of Python"
print(txt.startswith("Welcome"))

#swapcase() - Swaps cases, lower case becomes upper case and vice versa
txt="Welcome to World of Python"
print(txt.swapcase())

#title() - Converts the first character of each word to upper case
txt="welcome to world of python"
print(txt.istitle())

#upper() - converts a string into upper case
txt="HeLLo"
print(txt.upper())

Hello world
1
True
3
11
False
True
False
True
True
True
True
False
True
hello
('Hello', '', '')
I like C Programming
10
['Welcome', 'to', 'the', 'city']
True
wELCOME TO wORLD OF pYTHON
False
HELLO

In [ ]:
#String Functions

#chr() - Converts an integer to a character
print(chr(65))

#ord() - Converts a character to an integer
print(ord('A'))

#len() - Returns the no. of characters in a string i.e., length of the string
txt="hello, world"
print(len(txt))

#str() - Returns a string representation of an object 
print(str(49.2))
print(str(3+4j))

In [ ]:
a=4+9J
print(type(a))

<class 'complex'>

In [ ]:
#Program to find wehther the given word is palindrome or not
word=input("Enter any word ")
n=len(word)
i=0
j=n-1

while i<= j:
  if word[i]!=word[j]:
    print("Word is not a palindrome")
  else:
      i+=1
      j-=1
else:
    print("\n", word, "is a palindrome")

print("\nProgram executed successfully....")

Enter any wordmaam

 maam is a palindrome

Program executed successfully....

In [ ]:
#Program to count no. of lines of text and prints the no. of uppercase letters, lowercase letters, digits, spaces
txt=input("Enter a line of text")

cUCletters = 0
cLCletters = 0
cDigits = 0
cSpaces = 0
for ch in txt:
  if ch.isupper():
    cUCletters+=1
  elif ch.islower():
    cLCletters+=1
  elif ch.isdigit():
    cDigits+=1
  elif ch.isspace():
    cSpaces+=1
  

print("No. of Upper case letters = ",cUCletters)
print("No. of Lower case letters = ",cLCletters)
print("No. of digits are = ", cDigits)
print("No. of spaces are = ", cSpaces)

Enter a line of text14yr old dies of cardiac arrest after spraying deodorant in her room, doctors explain what happened
No. of Upper case letters =  0
No. of Lower case letters =  81
No. of digits are =  2
No. of spaces are =  15

In [ ]:
#Program that counts the no. of occurrences of a sub string in a given line of text
txt1=input("Enter line of text: ")
txt2 = input("Enter given word: ")

n1=len(txt1)
n2=len(txt2)

start=0
end=n1
count=0
while True:
  pos=txt1.find(txt2, start, end)
  if pos==-1:
    break
  else:
    count+=1
    start = pos+n2
  
print("No. of occurrence of ",txt2 , "=", count)
print("Program executed successfully")

Enter line of text: Break Continue Formatting using print function
Enter given word: in
No. of occurrence of  in = 4
Program executed successfully

In [ ]:
#Program that capitalises every first letter of words in a given line of text

txt1=input("Enter line of text:")

n=len(txt1)
i=0

txt2=""
while i< n:
  if i==0:
    txt2+=txt1[0].upper()
    i+=1
  elif txt1[i]==" " and txt1[i+1] !=" ":
      txt2+=txt1[i]
      txt2+=txt1[i+1].upper()
      i+=2
  else:
      txt2+=txt1[i]
      i+=1

print("Inputted text is", txt1)
print("Capitalised text is", txt2)
print("End of program")

Enter line of text:hi hello welcome to hyd
Inputted text is hi hello welcome to hyd
Capitalised text is Hi Hello Welcome To Hyd
End of program

In [ ]:
#Program that reads a word in lowercase and capitalise its alternate letters
txt1=input("Enter a line")
txt2=""
n=len(txt1)
i=0
flag=True
while i<n:
  if flag == True:
    txt2+=txt1[i].upper()
    flag=False
  else:
    txt2+=txt1[i]
    flag=True
  i+=1

print("Original word", txt1)
print("output after capitalising", txt2)

Enter a linehi hello welcome to hyd
Original word hi hello welcome to hyd
output after capitalising Hi hElLo wElCoMe tO HyD

#Practice problems

In [ ]:
#Given a string: txt = "abcdefghi"
#Write a program to extract the following substrings:
#i. 'abc', ii. 'ihg', iii. 'ace'

In [ ]:
#Given a string with txt = 'abcdefghi' with length n = 12. What would the following return?
#a. txt[0:n]
#b. txt[:3]+txt[3:]
#c. txt[-1:-5:-1]
#d. txt[::] 
#e. txt[::-1]
#f. txt[n%2:n%2]

sa

In [ ]:
#Write a program to display the individual words of an inputted string

In [ ]:
#Name the methods to perform the following tasks:
#a. To convert the first letter of a string to uppercase
#b. To check whether all letters in a string are uppercase
#c. To check whether the string contains only digits
#d. To toggle the letters of the string
#e. To check whether the streing begins with a specified word

In [ ]:
#Write a program that reads a sentence and prints every 2 letters in a new line

In [ ]:
#Write programs to produce the following patterns:
#

![image.png]()