<a href="https://colab.research.google.com/github/Prathima-tr/Problem-Solving-and-Programming/blob/main/Tuple_2022_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

R.S. Salaria, Khanna , “Programming for Problem Solving”, Book Publishing Co., Delhi.

In [ ]:
#A tuple is an ordered sequence of items enclosed in brackets ().
#Like a tuple, the elements in a tuple can be of different data types
#Major difference in a typle than a tuple is that a typel is immutable whereas a tuple is mutable
#Means elements of a tuple cannot be changed in place

In [ ]:
#Important characteristics
#Tuples are ordered sequences
#Tuples can contain any arbitrary objects
#Tuples can be accessed by index
#Tuples are mutable
#Tuples are static

In [ ]:
#Creating a tuple
#Empty tuple
#Tuple with a given set of elements and
#Tuple constructed from another sequence, such as string, tuple or another tuple

In [ ]:
#Creating empty tuple
a=()
print(type(a))

In [ ]:
#Creating tuple with given elements
#enclose comma separated tuple of elements in parentheses
b=(1,2,3,4,5,6)
print(type(b))
print(b)

c=(1,'one',2,'two',True,3.14,22/7)
print(c)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)
(1, 'one', 2, 'two', True, 3.14, 3.142857142857143)

In [ ]:
#creating a tuple from another sequence
#tuple() - is a constructor of tuple class with sequence as its argument
a=tuple('Python')
print(a)

b=[1,2,3,4,5]
c=tuple(b)
print(c)

('P', 'y', 't', 'h', 'o', 'n')
(1, 2, 3, 4, 5)

In [ ]:
#Accessing elements of a tuple
#Use index in square brackets
#This is analogous to accessing individual characters in astring or individual elements in a tuple
print(a[1])

print(a[3])

print(a[-1])

print(a[-6])

#If we try to access index out of the range or use float number as index, we will get errors

In [ ]:
#Traversing a tuple
#Traversing a typle means accessing each element exactly once ir order to process it
#We also call traversal as looping over a sequence
#For loop makes it easy to traverse or loop over the elements of a typle using the following syntax

#for <var> in <tuple>:
#    process each item here
#var - is a valid python identifier
#tuple is a tuple object to be traversed

mt = ('p','y','t','h','o','n')
for a in mt:
  print(a)

n=len(mt)
for i in range(n):
  print(mt[i])

In [ ]:
#Modifying and deleting element of a typle
#Tuples are immutable, which means individual elements as well as the entire tuple cannot be modified (changed) once it has been created
mt1=('w','e','l','c','o','m','e')
mt1[4]='x'

In [ ]:
del mt1[4]

In [ ]:
#Deleting a tuple
#using del
del mt1

In [ ]:
#Operations on tuples
#Concatenation of two or more tuples
a=(1,2,3,4,5)
b=('w','e','l','c','o','m','e')
c=(1,22/7,"True",False)
d=a+b

e=a+b+c

print(d)

print(e)

In [ ]:
#Repetition of a tuple
#The * operator can be used to repeat the elements of a tuple for a given no. of times
x=('a','b','c')
y=x*3
print(y)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [ ]:
#Slicing the Tuple
#Tuple slices are the sub part of a tuple extracted out
#t[start:stop:step]

#The abvoe statement will create a tuple slice having elements of tuple x on indexes 
#from start to stop-1, in steps of step

#Note
#if start is omitted, it is taken as beginning of the tuple
#if stop is omitted it is taken as end of the tuple
#if step is omitted, it is taken as +1 by default

x = (0,1,2,3,4,5,6,7,8,9)
print(x)

print(x[::])

print(x[:3])

print(x[3:])

print(x[::2])

print(x[-2:-7:-2])

print(x::-1)

In [ ]:
#Program to extract two tuple-slices, one at even indexed and another at odd indexed. 
#Program also prints the sum of these elements

my_tuple=(1,2,3,4,5,6,7,8,9,10,11,12,13,14)

eSlice=my_tuple[0::2]
oSlice=my_tuple[1::2]

sEven=sOdd=0

for i in eSlice:
  sEven+=i

for i in oSlice:
  sOdd+=i

print("Given tuple:",my_tuple)
print("tuple of even indexed element in tuple",eSlice)
print("tuple of odd indexed element in tuple",oSlice)

print("Sum of even indexed element in tuple",sEven)
print("Sum of odd indexed element in tuple",sOdd)

Given tuple: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
tuple of even indexed element in tuple [1, 3, 5, 7, 9, 11, 13]
tuple of odd indexed element in tuple [2, 4, 6, 8, 10, 12, 14]
Sum of even indexed element in tuple 49
Sum of odd indexed element in tuple 56

In [ ]:
#Membership test on tuples
#We can test whether an element exists in a given tuple or not using membership operator in and not in

fruits = ("banana","apple","mango","grapes","guava")

#print("Apple" in fruits)
#print("Apple" not in fruits)
print('p' in fruits)
print('p' in fruits[1])
#print("grapes" in fruits)
#print("gava" not in fruits)

False
True

In [ ]:
#Tuple methods and functions
#Tuple in python is immutable
#Python provides few methods for tuple class and another set of functions taht take tuple as its arguments and operated on them

#Tuple methods
#index() - returns the position of the first occurrence of the given item in the tuple
#raises a ValueError exception if there is no such item in the typle
fruits = ("banana","apple","mango","grapes","guava", "mango")
print(fruits.index("apple"))

#count() - method returns the no. of times a given item appears in the tuple
print(fruits.count("mango"))

print(fruits.count("orange"))

1
2

In [ ]:
#Tuple methods
#tuple() - is a constructor of tuple class that returns an immutable sequence tuple of elements
#it can take an optional iterable object, which can be sequence or collection such as a string, list, tuple, etc
#if no argument is suupplied, an empty tuple is returned

t1=tuple()

t2=tuple([1,3,4])
t3=tuple("Python")
l=["I","am","practicing","Python"]
t4=tuple(l)

print(t1,t2,t3,t4)

In [ ]:
#len() - returns the no. of items in the tuple
#max() - returns largest item in a tuple
#min() - returns smallest item in a tuple
#sum() - returns the sum of all the items in a typle
#range() - represents an imutable sequence of nos and is commonly used for looping a specific no. of times in for loops

print(tuple(range(10)))
t1=tuple(range(10))
t2=tuple(range(1,11))
t3=tuple(range(1,11,2))
print(t1,t2,t3)

In [ ]:
tt=(10, 8,23,33,14,25)
print("Length of tuple is", len(tt))
print("Maximum element is", max(tt))
print("Minimum element is", min(tt))
print("Sum of  elements is", sum(tt))

t10=tuple(range(10))
print(t10)

Maximum element is 33
Minimum element is 8
Sum of  elements is 113
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
t1=("Crr",2,True,False,22/7,('a','b','c'),['p','q','r'])
print(t)
print(t1[0][0])

('Crr', 2, True, False, 3.142857142857143, ('a', 'b', 'c'), ['p', 'q', 'r'])
C

In [ ]:
t1[4]=3.14

TypeError: ignored

In [ ]:
t1=("Crr",2,True,False,22/7,('a','b','c'),['p','q','r'])
#t1[5][0]='x'     #error
#t1[6]="Red"      #error
print("id of t1: ",id(t1))
t1[6][0]='y'
print("id of t1: ",id(t1))
print(t1)

t1[6].append('s')
print(t1)

id of t1:  140599195005280
id of t1:  140599195005280
('Crr', 2, True, False, 3.142857142857143, ('a', 'b', 'c'), ['y', 'q', 'r'])
('Crr', 2, True, False, 3.142857142857143, ('a', 'b', 'c'), ['y', 'q', 'r', 's'])

In [ ]:
t2=(1,2,3)
t3=t2
print("id of t2",id(t2))
print("id of t3",id(t3))

id of t2 140599243275776
id of t3 140599243275776

In [ ]:
t2=(1,2,3,"red")
print("id of t2",id(t2))
print("id of t3",id(t3))

id of t2 140599243358672
id of t3 140599243275776

In [ ]:
#Illustrative Examples
#Program to print day of week when the input is day of week as number
day=('sunday','monday','tuesday','wednesday','thursday','friday','saturday')

n=int(input("Enter day of week as no: "))
if n < 0 or n>6:
  print("Invalid input")
else:
  print("Day of week is: ", day[n])

In [ ]:
#Program takes no. as input and prints it in words
#input - 235; output- two three five

name=("zero",'one','two','three','four','five','six','seven','eight','nine')

i=int(input("Enter a whole no"))
t=n;
digit=list()
while t>0:
  d=t%10
  t=int(t/10)
  digit.append(d)

digit.reverse()

for d in digit:
  print(name[d],end='')